<!DOCTYPE html>
<html lang="fr">
    {% include 'head.html' %}
    <body>
        {% include 'navbar.html' %}

        <div class="header-image">
            <h1 style="font-size: 80px; text-align: center;">ENAC AWARDS</h1>
        </div>
        
        <div class="row mt-3 mx-2">
            <div class="col">
                <h2 class="text-start">Présentation des ENAC AWARDS</h2>
            </div>
            <div class="col-md-auto "></div>
            <div class="col col-lg-3 ">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Résultats par année
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="{{(url_for('awards23'))}}">2023</a></li>
                    </ul>
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-8">
                <p class="text-start mt-2 px-4 py-2">
                    <strong>Description de l'évènement :</strong><br>
                    Les ENAC Awards sont des cérémonies uniques organisées chaque année par les apprentis et pour les apprentis. 
                    <br><br>
                    Au-delà des cours et de l'entreprise, l'objectif principal de cet évènement est de rassembler les différentes promotions d'apprentis présentes à Montpellier pour que les élèves
                    se rencontrent, échangent et créent des liens qui dureront bien<br>au-delà de leur formation. Chaque année, la promotion la plus âgée organise la cérémonie, le repas ainsi que la soirée<br>pour la promotion entrante.
                    <br><br>
                    Les prix sont décernés par les étudiants dans des catégories qu'ils choisissent au préalable.<br>
                    Après le vote de chacun, nous saurons par exemple qui est :<br>
                    - Le / La plus stressé(e),<br> 
                    - Le / La plus passionné(e) d'aéronautique,<br>
                    - Le / La meilleur(e) pilote, etc.<br><br>
                    Cela laisse libre cours à l'imagination, n'est-ce pas ?
                </p>
                
            </div>

            <div class="col-4 px-4 py-2">
                <img src="{{ url_for('static', filename='images/a-invitation.jpg') }}" class="rounded img-fluid img-with-margins" alt="...">
            </div>
            
            
            
        </div>

        {% include 'footer.html' %}
        {% include 'scripts.html' %}

        <!-- Inclure Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
