<!DOCTYPE html>
<html lang="fr">
    {% include 'head.html' %}
    <body>
        {% include 'navbar.html' %}

        <div class="header-image"></div>
        
        <div class="row mt-3 mx-2">
            <div class="col">
                <h2 class="text-start">Résultats des ENAC AWARDS de 2023</h2>
            </div>
            <div class="col-md-auto "></div>
            <div class="col col-lg-3 ">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-secondary" href="{{(url_for('awards'))}}" role="button"> Retour à la présentation</a>
                    <button type="button" class="btn btn-outline-secondary" disabled><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                      </svg></button>
                  </div>
            </div> 
        </div>

        <div class="row mt-3 mx-2">
            <div class="col-8">

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">N° AWARDS</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Promotion</th>
                        <th scope="col">Lien vers le profil</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>
                      <tr>
                        <th scope="row">X</th>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                        <td>@X</td>
                      </tr>

                    </tbody>
                  </table>
            </div>

            <div class="col-4 text-start mt-2 px-4 py-2">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000"> <!-- Ajout de l'attribut data-bs-interval pour définir l'intervalle de transition -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12"aria-label="Slide 13"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>

                    </div>
            
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://www.pourquoidocteur.fr/media/image_maladie/ggl1200_siphotography-1553093642.jpg" class="d-block w-100" alt="stresse">
                        <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                            <h5>AWARDS n°1</h5>
                            <p>Catégorie du plus stressé</p>
                        </div>
                    </div>

                        <div class="carousel-item">
                          <img src="https://i.pinimg.com/originals/84/57/db/8457db290913897177f9ebde3d65e609.jpg" class="d-block w-100" alt="papi-mamie">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                              <h5>AWARDS n°2</h5>
                              <p>Catégorie du plus papi/mamie</p>
                          </div>
                        </div>
                      
                          <div class="carousel-item">
                            <img src="https://www.integrityline.com/wp-content/uploads/2021/12/integrityline-blog_was-ist-ein-wb.jpg" class="d-block w-100" alt="alerte">
                            <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°3</h5>
                                  <p>Catégorie du meilleur lanceur d'alerte</p>
                          </div>
                          </div>
                      
                          <div class="carousel-item">
                            <img src="https://aeromorning.com/wp-content/uploads/2022/02/image.png" class="d-block w-100" alt="enac-corpo">
                            <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°4</h5>
                                  <p>Catégorie du plus "ENAC" corporate</p>
                          </div>
                          </div>

                          <div class="carousel-item">
                            <img src="https://www.becherel.com/upload/calcul-du-taux-dabsenteisme-1661756021-49604.jpg" class="d-block w-100" alt="passion-aero">
                            <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                  <h5>AWARDS n°5</h5>
                                  <p>Catégorie du plus absent</p>
                          </div>
                          </div>

                          <div class="carousel-item">
                            <img src="https://www.bayo.com/img/psblog/b/42/1300_1196/b-blond-pilot-happy-expression.jpg" class="d-block w-100" alt="passion-aero">
                            <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°6</h5>
                                <p>Catégorie du plus passionné d'aéronautique</p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://www.financepoor.com/wp-content/uploads/2021/04/corporate-1024x610-1.jpg" class="d-block w-100" alt="entreprise-corpo">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°7</h5>
                                <p>Catégorie du plus "entreprise" corporate</p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://media.gqmagazine.fr/photos/62822dc6e2a7389207cee387/master/pass/3747188.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg" class="d-block w-100" alt="pilote">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°8</h5>
                                <p>Catégorie du meilleur pilote</p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://pbs.twimg.com/media/FSgQkQzWQAEJk9Y.jpg" class="d-block w-100" alt="beauf">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°9</h5>
                                <p>Catégorie du plus beauf </p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://pbs.twimg.com/profile_images/1428972003/Sans_titre-1_400x400.jpg" class="d-block w-100" alt="aigri">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°10</h5>
                                <p>Catégorie du plus aigri </p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://d11o8pt3cttu38.cloudfront.net/wp-content/uploads/sites/6/2018/08/shutterstock_1035439042.jpg" class="d-block w-100" alt="bruyant">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°11</h5>
                                <p>Catégorie du plus bruyant </p>
                              </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://media.istockphoto.com/id/1017325802/fr/photo/vue-latérale-de-lhomme-manger-un-hamburger-savoureux-avec-des-yeux-fermés.jpg?s=612x612&w=0&k=20&c=WytRGf3jdNEH-9YesQ5Bq1jWysbLjDNmTD11Ou7ZneY=" class="d-block w-100" alt="brioche">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°12</h5>
                                <p>Catégorie du plus gros mangeur de Brioche Dorée </p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://i.pinimg.com/736x/7e/e8/b3/7ee8b36767d9aebb17576351c5684889.jpg" class="d-block w-100" alt="prank">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°13</h5>
                                <p>Catégorie du meilleur prankeur </p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://img-0.journaldunet.com/F6ubUvMPdt-5SAWo_13Nzl1ULb8=/540x/smart/b62d537baf42472e9fad87594a807e61/ccmcms-jdn/19163067.jpg" class="d-block w-100" alt="voisin">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°14</h5>
                                <p>Catégorie du pire voisin </p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://i.ytimg.com/vi/keiUSSCeGdc/maxresdefault.jpg" class="d-block w-100" alt="chauffeur">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°15</h5>
                                <p>Catégorie du pire chauffeur </p>
                        </div>
                        </div>

                        <div class="carousel-item">
                          <img src="https://i.ytimg.com/vi/keiUSSCeGdc/maxresdefault.jpg" class="d-block w-100" alt="coloc">
                          <div class="carousel-caption d-none d-md-block" style="background-color: black; color: white; padding: 5px; border-radius: 3px; max-width: 70%; width: auto;">
                                <h5>AWARDS n°16</h5>
                                <p>Catégorie de la meilleure colocation</p>
                        </div>
                        </div>
            
                    </div>
            
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
        {% include 'footer.html' %}
        {% include 'scripts.html' %}

        <!-- Inclure Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
