<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}


<!-- Navbar -->
  <body>
    {% include 'navbar.html' %}

<!-- Title -->
<br/>
    <h1 class="text-center">Blog IENAC APPR</h1>

    <hr class="featurette-divider">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title link-underline-dark">Sortie plage</h4>
          <p class="card-text">Description du post</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <img src="../static/images/campus_enac.jpg" class="card-img-bottom" alt="...">
        <img src="../static/images/campus_enac.jpg" class="card-img-bottom" alt="">
      </div>

<br/>
      <!-- Navigation between pages -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
<!-- Footer -->
    {% include 'footer.html' %}
    </body>
</html>