<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2>Edit Profile</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.phone.label }} {{ form.phone(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.address.label }} {{ form.address(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.company.label }} {{ form.company(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.twitter.label }} {{ form.twitter(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.instagram.label }} {{ form.instagram(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.facebook.label }} {{ form.facebook(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.github.label }} {{ form.github(size=32, class_='form-control') }}
            </div>
            <div class="mb-3">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
    </div>
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>

</html>