<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}

  <body>
    {% include 'navbar.html' %}


    <!-- Carousel -->
<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/images/concorde-f-wtsa-orly-1080x675.jpg" class="d-block w-100 img-fluid"
            alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="display-1 text-center" style="font-weight: bold;">Bienvenue sur le site des IENAC APPR</h1>
            <p class="text-black"></p>
          <br/><br/>
          </div>
        </div>
      </div>
  </div>

  <hr class="featurette-divider">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" src="../static/images/logo-ENAC.jpg"/>
        <h2 class="fw-normal">ENAC</h2>
        <p>École Nationale de l'Aviation Civile</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.enac.fr/fr">Lien vers le site &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" src="../static/images/assoc_nlogo.png"/>
        <h2 class="fw-normal">ENAC Alumni</h2>
        <p>L'association des anciens élèves</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.alumni.enac.fr/fr/">Lien vers le site &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" src="../static/images/logo-instagram-png.png"/>
        <h2 class="fw-normal">Instagram</h2>
        <p>Suivez l'aventure des IENAC APPR</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.instagram.com/la_star_enacademie/">@la_star_enacademie&raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading fw-normal lh-1">Le site de Toulouse</h2>
        <p class="lead">7 Av. Edouard Belin, 31400 Toulouse</p>
      </div>
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <image src="../static/images/campus_enac.jpg" class="rounded img-fluid img-with-margins" alt="...">
            <title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Le site de Montpellier</h2>
        <p class="lead">Adresse: 210 Av. Jacqueline Auriol, 34130 Mauguio</p>
      </div>
    <div class="col-md-7 order-md-1 d-flex justify-content-center align-items-center">
        <image src="../static/images/montpellier_web_bd_0.jpg" class="rounded img-fluid img-with-margins" alt="...">
            <title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
 {% include 'footer.html' %}
    </body>
</html>
