<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Connexion</h2>
                                <form method="POST" action="{{ url_for('login') }}">
                                    {{ form.hidden_tag() }}
                                    <div class="mb-3">
                                        {{ form.email.label(class="form-label") }}
                                        {{ form.email(class="form-control", placeholder="@alumni.enac.fr") }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form.password.label(class="form-label") }}
                                        {{ form.password(class="form-control") }}
                                    </div>
                                    <div class="text-center">
                                        {{ form.submit(class="btn btn-primary") }}
                                    </div>
                                    <br>
                                    <div class="mb-3 d-flex justify-content-center align-items-center">
                                        <label for="inscription" class="form-label mb-0">Vous n'avez pas de
                                            compte?</label>
                                        <p class="mb-0 ms-2"><a class="link-opacity-100"
                                                href="{{ url_for('register') }}">Inscrivez-vous</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</body>

</html>