<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Olympiades</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    </head>

    <body>
        <nav class="navbar bg-dark navbar-dark navbar-expand-md">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                Olympiades IENAC APPR
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto ml-2">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Liste des promos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="header-image">
            <h1>Les Olympiades des IENAC APPR</h1>
        </div>
    </br>  

    <!-- Introduction -->

        <div class="container">
            <h2 class="text-start">Les Olympiades, Qu'est-ce que c'est ?</h2>
            <p class="fst-italic">
                Les Olympiades sont organisé chaque année entre Apprentis, dans le but de créer des liens entre collègues et d'améliorer la cohésion de groupe. 
                Profitant du cadre idéal qu'est la plage de Carnon et le beau temps du Sud, nos apprentis s'affrontent par équipe dans divers sports collectif et amusants, tels que le Beach volley, le béret, ... 
                Une équipe est sacré vainqueur à la fin de ces Olympiades et des récompenses sont attribués à nos chers participants.
            </p>
        </div>
    </br>

    <!-- Carousel -->

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </br>

        <!-- Tableau résultats -->
    
        <div class="container">
        <h3 class="text-start">Resultats IENAC APPR 23</h3>
          <table class="table table-bordered mt-2">
            <thead class="table-light">
              <tr class="text-center">
                <th scope="col">Equipe</th>
                <th scope="col">Points Beach-Volley</th>
                <th scope="col">Points Béret</th>
                <th scope="col">Points Balle au prisonnier</th>
                <th scope="col">Relais</th>
                <th scope="col">Classement</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="text-center">
                <th scope="row">1</th>
                <td>/</td>
                <td>0</td>
                <td>2</td>
                <td>/</td>
                <td>/</td>
              </tr>
              <tr class="text-center">
                <th scope="row">2</th>
                <td>/</td>
                <td>0</td>
                <td>2</td>
                <td>/</td>
                <td>/</td>
              </tr>
              <tr class="text-center">
                <th scope="row">3</th>
                <td>/</td>
                <td>2</td>
                <td>0</td>
                <td>/</td>
                <td>/</td>
              </tr>
              <tr class="text-center">
                <th scope="row">4</th>
                <td>/</td>
                <td>2</td>
                <td>0</td>
                <td>/</td>
                <td>/</td>
              </tr>
            </tbody>
          </table>
        </div>
    </body> 
</html>