<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Olympiades</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    </head>

    <body>
        <nav class="navbar bg-dark navbar-dark navbar-expand-md">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                Olympiades IENAC APPR
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto ml-2">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Liste des promos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="header-image" >
            <h1>Les Olympiades des IENAC APPR</h1>
        </div>
    </br>  
        <div class="container">
            <h2 class="text-start">Les Olympiades, Qu'est-ce que c'est ?</h2>
            <p class="fst-italic">
                Les Olympiades sont organisé chaque année entre Apprentis, dans le but de créer des liens entre collègues et d'améliorer la cohésion de groupe. 
                Profitant du cadre idéal qu'est la plage de Carnon et le beau temps du Sud, nos apprentis s'affrontent par équipe dans divers sports collectif et amusants, tels que le Beach volley, le béret, ... 
                Une équipe est sacré vainqueur à la fin de ces Olympiades et des récompenses sont attribués à nos chers participants.
            </p>
        </div>
    </body> 
</html>