<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='images/photo-balle-priso.jpg') }}" class="img-fluid img-with-margins"
                      alt="photo balle au prisonnier">
              </div>
              <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/photo-béret.jpg')}}" class="img-fluid img-with-margins"
                      alt="photo béret">
              </div>
              <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/photo-balle-priso2.jpg') }}" class="img-fluid img-with-margins"
                      alt="photo balle au prisonnier">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
<main>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- STRAT PRESENTATION -->
    <div  class="text-center">
      <h1> Les Olympiades des Apprentis </h1>
      <br/>
      <p class="fs-5">Les Olympiades sont organisées chaque année entre Apprentis, dans le but de créer des liens entre collègues et d'améliorer la cohésion de groupe. 
        Profitant du cadre idéal qu'est la plage de Carnon et le beau temps du Sud, nos apprentis s'affrontent par équipe dans divers sports collectif et amusants, tels que le Beach volley, le béret, ... 
        Une équipe est sacré vainqueur à la fin de ces Olympiades et des récompenses sont attribués à nos chers participants.</p>
    </div>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" src="{{ url_for('static', filename='images/ienac23.jpeg') }}"/>
        <h2 class="fw-normal">IENAC 23 APPR</h2>
        <p><a class="btn btn-outline-secondary" href="/results">Voir Résultats &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" preserveAspectRatio="xMidYMid slice" src="{{ url_for('static', filename='images/ienac22.jpeg') }}"/>
        <h2 class="fw-normal">IENAC 22 APPR</h2>
        <p><a class="btn btn-outline-secondary" href="/results">Voir Résultats &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">IENAC 21 APPR</h2>
        <p><a class="btn btn-outline-secondary" href="/results">Voir Résultats &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <h2 class="featurette-heading fw-normal lh-1">Un combat sans relâche</h2>
      </div>
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='images/imagerugby.jpeg') }}" class="rounded img-fluid img-with-margins" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2 d-flex justify-content-center align-items-center">
        <h2 class="featurette-heading fw-normal align-items-center">Des performances hors du commun</h2>
      </div>
      <div class="col-md-5 order-md-1 d-flex justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='images/imagevolley.jpg')}}" class="rounded img-fluid img-with-margins" alt="photo béret">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 d-flex justify-content-center align-items-center">
        <h2 class="featurette-heading fw-normal lh-1">Pour un spectacle au plus haut niveau !</h2>
      </div>
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='images/photo-balle-priso2.jpg') }}" class="rounded img-fluid img-with-margins" alt="photo béret">
      </div>
    </div>

    <hr class="featurette-divider">
    </div>
  {% include 'footer.html' %}

    </body>
</html>
