<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">

                <div class="section_heading text-center wow fadeInUp m-5" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3>IENAC 23</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

                    <div class="advisor_thumb"><img src="{{ url_for('static', filename='images/avatar-homme.png')}}" alt>

                        <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                    </div>

                    <div class="single_advisor_details_info">
                        <h6>Aurélien Collet</h6>
                        <p class="designation">Founder &amp; CEO</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">

                    <div class="advisor_thumb"><img src="{{ url_for('static', filename='images/avatar-homme.png')}}" alt>

                        <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                    </div>

                    <div class="single_advisor_details_info">
                        <h6>Alan Huguel</h6>
                        <p class="designation">UI Designer</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">

                    <div class="advisor_thumb"><img src="{{ url_for('static', filename='images/avatar-homme.png')}}" alt>

                        <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                    </div>

                    <div class="single_advisor_details_info">
                        <h6>Baptiste Skibiak</h6>
                        <p class="designation">Developer</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">

                    <div class="advisor_thumb"><img src="{{ url_for('static', filename='images/avatar-homme.png')}}" alt>

                        <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                    </div>

                    <div class="single_advisor_details_info">
                        <h6>Baptiste Pouliquen</h6>
                        <p class="designation">Marketing Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>