<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Inscription</h2>
                                <form method="POST">
                                    {{ form.hidden_tag() }}
                                    <div class="mb-3">
                                        <label for="first_name" class="form-label">Prénom</label>
                                        {{ form.first_name(class="form-control") }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="last_name" class="form-label">Nom</label>
                                        {{ form.last_name(class="form-control") }}
                                    </div>

                                    <div class="mb-3">
                                        <label for="annee" class="form-label">Sélectionnez votre promotion :</label>
                                        <select name="annee" class="form-select" id="annee" required>
                                            <option value="" disabled selected>-</option>
                                        </select>
                                    </div>
                                    <script>
                                        var select = document.getElementById("annee");
                                        var currentYear = new Date().getFullYear();
                                        for (var year = 2013; year <= currentYear; year++) {
                                            var optionValue = "IENAC" + year.toString().slice(-2) + "_APPR";
                                            select.add(new Option(optionValue, optionValue));
                                        }
                                    </script>

                                    <div class="mb-3">
                                        <label for="email" class="form-label">Adresse mail</label>
                                        {{ form.email(class="form-control", placeholder="@alumni.enac.fr") }}
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">Mot de passe</label>
                                        <div class="input-group">
                                            {{ form.password(class="form-control", id="mot-de-passe") }}
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="toggle-password">
                                                <span class="eye-icon">
                                                    <svg id="eye-open" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" class="bi bi-eye-fill"
                                                        viewBox="0 0 16 16" style="display: inline;">
                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                        <path
                                                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                    </svg>
                                                    <svg id="eye-closed" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" class="bi bi-eye-slash-fill"
                                                        viewBox="0 0 16 16" style="display: none;">
                                                        <path
                                                            d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                                                        <path
                                                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="confirm_password" class="form-label">Confirmez le mot de
                                            passe</label>
                                        <div class="input-group">
                                            {{ form.confirm_password(class="form-control", id="confirm-mdp") }}
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="toggle-conf-password">
                                                <span class="eye-icon">
                                                    <svg id="conf-eye-open" xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor"
                                                        class="bi bi-eye-fill" viewBox="0 0 16 16"
                                                        style="display: inline;">
                                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                        <path
                                                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                    </svg>
                                                    <svg id="conf-eye-closed" xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor"
                                                        class="bi bi-eye-slash-fill" viewBox="0 0 16 16"
                                                        style="display: none;">
                                                        <path
                                                            d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                                                        <path
                                                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        {{ form.submit(class="btn btn-primary") }}
                                    </div>
                                    <br>
                                    <div class="mb-3 d-flex justify-content-center align-items-center">
                                        <label for="inscription" class="form-label mb-0">Vous avez déjà un compte
                                            ?</label>
                                        <p class="mb-0 ms-2"><a class="link-opacity-100"
                                                href="{{ url_for('login') }}">Connectez-vous</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Pour le champ mot de passe principal
            var toggleButton = document.getElementById('toggle-password');
            var passwordInput = document.getElementById('mot-de-passe');
            var eyeOpenIcon = document.getElementById('eye-open');
            var eyeClosedIcon = document.getElementById('eye-closed');

            if (toggleButton && passwordInput) {
                toggleButton.addEventListener('click', function () {
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                        eyeOpenIcon.style.display = 'none';
                        eyeClosedIcon.style.display = 'inline';
                    } else {
                        passwordInput.type = 'password';
                        eyeOpenIcon.style.display = 'inline';
                        eyeClosedIcon.style.display = 'none';
                    }
                });
            }

            // Pour le champ de confirmation du mot de passe
            var toggleConfButton = document.getElementById('toggle-conf-password');
            var confPasswordInput = document.getElementById('confirm-mdp');
            var confEyeOpenIcon = document.getElementById('conf-eye-open');
            var confEyeClosedIcon = document.getElementById('conf-eye-closed');

            if (toggleConfButton && confPasswordInput) {
                toggleConfButton.addEventListener('click', function () {
                    if (confPasswordInput.type === 'password') {
                        confPasswordInput.type = 'text';
                        confEyeOpenIcon.style.display = 'none';
                        confEyeClosedIcon.style.display = 'inline';
                    } else {
                        confPasswordInput.type = 'password';
                        confEyeOpenIcon.style.display = 'inline';
                        confEyeClosedIcon.style.display = 'none';
                    }
                });
            }
        });
    </script>
</body>

</html>