<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Inscription</h2>
                                <form method="POST">
                                    <div class="mb-3">
                                        <label for="nom" class="form-label">Nom</label>
                                        <input name="nom" type="text" class="form-control" id="nom" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="prenom" class="form-label">Prénom</label>
                                        <input name="prenom" type="text" class="form-control" id="prenom" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="annee" class="form-label">Sélectionnez votre promotion :</label>
                                        <select name="annee" class="form-select" id="annee" required>
                                            <option value="" disabled selected>Choisissez une année</option>
                                        </select>
                                    </div>
                                    <script>
                                        var select = document.getElementById("annee");
                                        var currentYear = new Date().getFullYear();
                                        for (var year = 2013; year <= currentYear; year++) {
                                            var optionValue = "IENAC" + year.toString().slice(-2) + "_APPR";
                                            select.add(new Option(optionValue, optionValue));
                                        }
                                    </script>
                                    <div class="mb-3">
                                        <label for="adresse-mail" class="form-label">Adresse mail</label>
                                        <input name="adresse-mail" type="email" class="form-control"
                                            placeholder="@alumni.enac.fr" id="adresse-mail" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="mot-de-passe" class="form-label">Mot de passe</label>
                                        <input name="mot-de-passe" type="password" class="form-control" id="mot-de-passe"
                                            required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Suivant</button>
                                    </div>
                                    <br>
                                    <div class="mb-3 d-flex justify-content-center align-items-center">
                                        <label for="inscription" class="form-label mb-0">Vous avez déjà un compte ?</label>
                                        <p class="mb-0 ms-2"><a class="link-opacity-100"
                                                href="{{(url_for('login'))}} ">Connectez-vous</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>